/* Typography Overrides
===================================================*/
body {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 } 

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: inherit;
  letter-spacing: 0;
  font-weight: normal;
  text-transform: none; 
}

.u-full-width.button {
	padding: 0px;
}

a {
	color: #1790B5;
}

a:hover {
	color: #0FA0CE;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #1790B5;
    border-color: #1790B5;
}

/* Additional Components
=====================================================*/

#title {
	margin-top: 15px;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.1em;
	background: #888;
	color: #fff;
	padding: 15px;
}

.card {
	display: block;
	padding: 0.75em;
	color: #555;
	margin: 15px 0;
	width: 100%;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	box-sizing: border-box;
}

 .formRow {
 	margin: 1px 0;
 }

.helpText {
	display: block;
	margin-top: -1em;
	padding-left: 0.5em;
	margin-bottom: 1em;
}

/* from bootstrap */
.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.content {
	color: black;
}

.timestamp {
	font-color: #333333;
	font-style: italic;
	text-align: right;
}