.container {
  margin-top: 20px;
}

.smol {
  font-size: 0.8em;
}

.ScalePic {
  display: block;
  max-width: 100%;
  border: 1px solid silver;
}

#feed .card {
  margin-bottom: 10px;
}

#FeedStream, .spacedRow {
  margin-top: 1em;
}
